:root {
    --menu-items-container: 0;
}

$primary: #0B0D17;
$primary-light: #979797;
$secondary: #D0D6F9;
$ternary: #FFFFFF;

@font-face {
    font-family: bellfairRegular;
    src:    url('../assets/fonts/Bellefair-Regular.woff2') format('woff2'),
            url('../assets/fonts/Bellefair-Regular.woff') format('woff');
}
@font-face {
    font-family: barlowCondensedRegular;
    src:    url('../assets/fonts/BarlowCondensed-Regular.woff2') format('woff2'),
            url('../assets/fonts/BarlowCondensed-Regular.woff') format('woff');
}
@font-face {
    font-family: barlowCondensedBold;
    src:    url('../assets/fonts/BarlowCondensed-Bold.woff2') format('woff2'),
            url('../assets/fonts/BarlowCondensed-Bold.woff') format('woff');
}

$gap: 24px;
$desktop: 1110px + 2 * $gap;
$tablet: 768px + 2 * $gap;
$mobile: 375px + 2 * $gap;

$container-width: 1110px + $gap;

$header-fix: 136px;
$header-fix-tablet: 96px;



html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: barlowCondensedRegular, sans-serif;
}
body {
    // display: flex;
    // flex-direction: column;
    // min-height: 100vh;
    font-size: 1.125rem;
    
    margin: 0;
    padding: 0;
    color: $ternary;
}

.heading-1 {
    font-size: 9.375rem;
    font-weight: normal;
    font-family: bellfairRegular;
    text-transform: uppercase;
    margin: 1.5rem 0;
}
.heading-2 {
    font-size: 6.25rem;
    font-weight: normal;
    font-family: bellfairRegular;
    text-transform: uppercase;
}
.heading-3 {
    font-size: 3.5rem;
    font-weight: normal;
    font-family: bellfairRegular;
}
.heading-4 {
    font-size: 2rem;
    font-weight: normal;
    font-family: bellfairRegular;
}
.heading-5 {
    font-size: 1.75rem;
    font-family: barlowCondensedRegular;
    font-weight: normal;
    color: $secondary;
    text-transform: uppercase;
    letter-spacing: 4.75px;
}
.subheading {
    font-size: 1.75rem;
    font-family: bellfairRegular;
}
.subheading-2 {
    font-size: 0.875rem;
    font-family: barlowCondensedRegular;
    letter-spacing: 2.35px;
}
.nav-text {
    font-family: barlowCondensedRegular;
    letter-spacing: 2.7px;
}
