@use 'settings' as *;

.crew {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &__photo-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__picture {
        display: none;
        
        &.active {
            display: block;
        }
    }
    &__image {
        vertical-align: bottom;
    }
    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &__info-subcontainer {
       
        margin-top: 150px;
        
    }
    &__role {
        display: none;
        &.active {
            display: block;
        }
    }
    &__name {
        display: none;
        text-transform: uppercase;
        &.active {
            display: block;
        }
    }
    &__bio {
        display: none;
        height: 250px;
        margin-bottom: 0;
        &.active {
            display: block;
        }
    }
    &__tab {
        cursor: pointer;
        background-color: #363841;
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 24px;
        }
        &:hover {
            background-color: #85868B;
        }
        &.active {
            background-color: $ternary;
        }
    }
}
.content-container {
    justify-content: flex-end;
}