@use 'settings' as *;

.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // margin-bottom: 125px;
    height: 100%;
    align-items: center;
    &__text-container {
        max-width: 440px;
        // @media screen and (max-width: $desktop){
        //     margin-top: 6rem;
        // }
    }
    &__heading {
        margin-left: -12px;
        @media screen and (max-width: $desktop){
            margin-left: 0;
        }
        @media screen and (max-width: $tablet){
            font-size: 6.25rem;
            text-align: center;
        }
    }
    &__text {
        line-height: 28px;
        color: $secondary;
        @media screen and (max-width: $desktop){
            text-align: center;
            font-size: 1rem;
        }
        @media screen and (max-width: $tablet){
            font-size: 0.9375rem;
        }
    }
    &__subheading {
        font-size: 1.75rem;
        width: 100%;
        display: block;
        @media screen and (max-width: $desktop){
            text-align: center;
            font-size: 1.25rem;
        }
        @media screen and (max-width: $tablet){
            font-size: 1rem;
        }
    }
    &__cta-container {
        @media screen and (max-width: $desktop){
            margin-top: 4rem;
        }
    }
    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary;
        border-radius: 50%;
        background-color: $ternary;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: bellfairRegular;
        border: 0;
        text-transform: uppercase;
        outline: 0 solid rgba($color: #fff, $alpha: .1);
        transition: outline 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
        height: 275px;
        width: 275px;
        cursor: pointer;
        text-decoration: none;
        &:hover{ 
            outline: 60px solid rgba($color: #fff, $alpha: .1);

            @media screen and (max-width: $desktop){
                outline: 45px solid rgba($color: #fff, $alpha: .1);
            }
            @media screen and (max-width: $tablet){
                outline: 30px solid rgba($color: #fff, $alpha: .1);
            }
        }
        @media screen and (max-width: $desktop){
            height: 242px;
            width: 242px;
        }
        @media screen and (max-width: $tablet){
            font-size: 1.25rem;
            height: 150px;
            width: 150px;
        }

    }
    @media screen and (max-width: $desktop){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.homepage-container {
    display: flex;
    align-items: flex-end;
    height: calc(100% - #{$header-fix})
}
