:root {
  --menu-items-container: 0;
}

@font-face {
  font-family: bellfairRegular;
  src: url("../assets/fonts/Bellefair-Regular.woff2") format("woff2"), url("../assets/fonts/Bellefair-Regular.woff") format("woff");
}
@font-face {
  font-family: barlowCondensedRegular;
  src: url("../assets/fonts/BarlowCondensed-Regular.woff2") format("woff2"), url("../assets/fonts/BarlowCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: barlowCondensedBold;
  src: url("../assets/fonts/BarlowCondensed-Bold.woff2") format("woff2"), url("../assets/fonts/BarlowCondensed-Bold.woff") format("woff");
}
.heading-1 {
  font-size: 9.375rem;
  font-weight: normal;
  font-family: bellfairRegular;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.heading-2 {
  font-size: 6.25rem;
  font-weight: normal;
  font-family: bellfairRegular;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 3.5rem;
  font-weight: normal;
  font-family: bellfairRegular;
}

.heading-4 {
  font-size: 2rem;
  font-weight: normal;
  font-family: bellfairRegular;
}

.heading-5 {
  font-size: 1.75rem;
  font-family: barlowCondensedRegular;
  font-weight: normal;
  color: #D0D6F9;
  text-transform: uppercase;
  letter-spacing: 4.75px;
}

.subheading {
  font-size: 1.75rem;
  font-family: bellfairRegular;
}

.subheading-2 {
  font-size: 0.875rem;
  font-family: barlowCondensedRegular;
  letter-spacing: 2.35px;
}

.nav-text {
  font-family: barlowCondensedRegular;
  letter-spacing: 2.7px;
}

p {
  line-height: 32px;
  color: #D0D6F9;
  max-width: 445px;
}

.technology {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1158px) {
  .technology__img {
    height: 310px;
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 816px) {
  .technology__img {
    height: 170px;
  }
}
.technology__image {
  display: none;
}
.technology__image.active {
  display: block;
}
.technology__tabs {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
@media screen and (max-width: 1158px) {
  .technology__tabs {
    flex-direction: row;
    justify-content: center;
    margin-right: 0;
    margin-top: 3.5rem;
    margin-bottom: 2.75rem;
  }
}
.technology__tab {
  font-family: bellfairRegular;
  font-size: 2rem;
  border: 1px solid #9b9ca1;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  color: #FFFFFF;
  height: 80px;
  width: 80px;
}
.technology__tab:not(:last-child) {
  margin-bottom: 2rem;
}
.technology__tab.active {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #0B0D17;
}
.technology__tab:hover {
  border-color: #FFFFFF;
}
@media screen and (max-width: 1158px) {
  .technology__tab {
    height: 60px;
    width: 60px;
  }
  .technology__tab:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.technology__title {
  display: none;
  text-transform: uppercase;
  margin: 12px 0 12px -4px;
}
.technology__title.active {
  display: block;
}
@media screen and (max-width: 1158px) {
  .technology__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 816px) {
  .technology__title {
    font-size: 1.5rem;
  }
}
.technology__description {
  display: none;
  margin-top: 0;
  margin-right: 0;
}
.technology__description.active {
  display: block;
}
@media screen and (max-width: 1158px) {
  .technology__description {
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 816px) {
  .technology__description {
    font-size: 0.9375rem;
  }
}
.technology__tabs-and-info {
  display: flex;
}
@media screen and (max-width: 1158px) {
  .technology__tabs-and-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 816px) {
  .technology__tabs-and-info {
    padding: 0 24px;
  }
}
@media screen and (max-width: 1158px) {
  .technology__container {
    width: calc(100% + 48px);
  }
}
@media screen and (max-width: 1158px) {
  .technology__subtitle {
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 816px) {
  .technology__subtitle {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1158px) {
  .technology {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.menu__container {
  width: calc(100vw / 2 + 1158px / 2);
}

/*# sourceMappingURL=technology.css.map */
